# production environment overrides

services:
  discord-bot:
    image: ${APPLICATION_IMAGE}
    env_file: .env.prod
  mysql:
    env_file: .env.prod

  # add logging in production environment
  otel-collector:
    image: otel/opentelemetry-collector:latest
    container_name: rcb-discord-bot-otel-collector
    environment:
      HONEYCOMB_API_KEY: ${HONEYCOMB_API_KEY}
      HONEYCOMB_DATASET: ${HONEYCOMB_DATASET}
    volumes:
      - ./otel-config.yaml:/etc/otel/config.yaml:ro
    command: ["--config", "/etc/otel/config.yaml"]
    ports:
      - "4317:4317"
    networks:
      - app-network
